@model IEnumerable<Papeleria_MVC.Models.StockMovementViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<partial name ="_Messages" />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ItemQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MovementTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ResponsibleUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null)
        {
            <tr>
                <td colspan="6">Usted no está autorizado para realizar esta acción.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemQuantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.MovementTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ResponsibleUserId)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                        @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                    </td>
                </tr>
            }

}
    </tbody>
</table>
